.projectContainer {
    flex: 1;
    display: flex;
}

.projectNavContainer {
    width: 240px;
    border-right: 0.5px solid #CBD5E1;
}

.content {
    height: 100%;
    margin: 0 auto;
    padding: 16px 24px;

    overflow: auto;
    width: calc(100vw - 320px);
}
